.content {
  position: relative;
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--main-text-color);
}
.icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.name {
  font-size: 24px;
  font-weight: bold;
}
.link {
  position: absolute;
  bottom: var(--base-padding);
  font-size: 12px;
}
.spin {
  margin-top: 30px;
}
