.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  height: 100vh;
  visibility: visible;
  opacity: 1;

  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--blur-color);

  will-change: background, backdrop-filter, opacity, visibility;
  transition: all 0.33s;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disable {
  visibility: hidden;
  opacity: 0;
  backdrop-filter: saturate(100%) blur(0);
  background-color: transparent;
}
