.layout {
  background-color: var(--blur-color);
  backdrop-filter: saturate(180%) blur(20px);
  height: 40px;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid var(--border-color);
  box-sizing: border-box;
  height: 100%;

  i {
    height: 16px;
    width: 1px;
    background-color: var(--border-color);
    display: block;

    &:last-of-type {
      display: none;
    }
  }
}

.tab {
  flex: 1;
  text-align: center;
  cursor: pointer;
  height: 100%;
  line-height: 40px;
  font-size: 1rem;
  opacity: 0.5;
  transition: all 0.1s;

  &:last-child {
    border-right: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.active {
  font-size: calc(14rem / var(--base-font-size));
  font-weight: 600;
  opacity: 1 !important;
}
