.content {
  border-radius: var(--base-radius);
  overflow: hidden;
  margin-bottom: var(--base-padding);
  background-color: var(--background-color);
  // transition: all 0.2s;

  &:last-of-type {
    margin-bottom: 0;
  }
}
