.content {
  color: var(--main-text-color);
  overflow-y: scroll;
  height: calc(100vh - 48px);

  &::-webkit-scrollbar {
    width: 0;
  }
}

.avatarContent {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid var(--border-color);

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    backdrop-filter: saturate(180%) blur(20px);
  }
}

.avatar {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--inner-color);
  transition: all 0.2s;
  z-index: 2;

  img {
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatarMiniMode {
  width: 96px;
  height: 96px;
}

.detailContent {
  padding: var(--base-padding);
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.star {
  float: right;
}

.name {
  font-size: 24px;
  font-weight: 600;
}

.item {
  display: block;

  label {
    font-weight: 600;
  }
  div {
    color: var(--inner-text-color);
  }
  span {
    color: var(--inner-text-color);
  }
}
.container {
  padding: 0 var(--base-padding);
}
