.content {
  height: 100%;
  width: 100%;
  min-height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--block-border-color);
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
  }

  span {
    color: #fff;
    font-weight: 500;
    font-size: calc(var(--base-font-size) * 1.2);
  }
}
