.layout {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--inner-color);
  overflow: hidden;
}

.lowKey {
  filter: grayscale(99%);
  --increase-color: #111;
  --reduce-color: #111;
}
