@import '../../styles//varible.scss';

.content {
  border-radius: 10px;
  box-sizing: border-box;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  background-color: var(--blur-color);
  backdrop-filter: saturate(180%) blur(20px);
  top: 0;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2;
  border-bottom: 1px solid var(--border-color);

  // box-shadow: 0 20px 20px rgba(0, 0, 0, .1);
  h3 {
    color: var(--main-text-color);
  }

  .close {
    color: var(--reverse-text-color);
    background-color: var(--cancel-color);
  }

  .add {
    color: #eee;
    background-color: var(--primary-color);
  }
}

.body {

  // padding: 10px 15px;
  h3 {
    margin: 15px;
    color: var(--main-text-color);
  }

  section {
    padding: 5px 0;
  }

  label {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    font-weight: 600;
  }
}

.introduce {}


.estimate {
  padding: 0 15px;

  img {
    border-radius: 5px;
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
  }
}

.warehouse {}

.tooltip {
  display: flex;
  font-size: 12px;
  flex-direction: column;

  .tooltipName {
    font-weight: 600;
  }

  .tooltipStockCode {}
}
