.content {
  margin: 0 var(--base-padding) !important;
}
.row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  font-size: calc(var(--base-font-size) * 5 / 6);
}
