.layout {
  padding: 0 var(--base-padding);
}
.content {
  display: block;
  padding: 15px;
  box-sizing: border-box;
  min-height: 100px;
}
.item {
  color: var(--main-text-color) !important;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  svg {
    width: 12px;
    height: 12px;
    margin-left: var(--base-padding);
    cursor: pointer;
    fill: var(--main-text-color);
  }
}
