{
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "singleQuote": true,
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false,
  "vueIndentScriptAndStyle": true
}
