.content {
  border-radius: var(--base-radius);
  background-color: var(--inner-color);
  box-sizing: border-box;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  background-color: var(--blur-color);
  backdrop-filter: saturate(180%) blur(20px);
  top: 0;
  padding: 10px;
  box-sizing: border-box;
  z-index: 3;
  border-bottom: 1px solid var(--border-color);

  // box-shadow: 0 20px 20px rgba(0, 0, 0, .1);

  h3 {
    color: var(--main-text-color);
  }

  .close {
    color: var(--cancel-text-color);
    background-color: var(--cancel-color);
    box-shadow: 0 2px 10px var(--cancel-color);
  }

  .add {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    box-shadow: 0 2px 10px var(--primary-color);
  }
}

.body {
  display: block;
}
