.content {
  height: 30px;
  transition: height 0.2s;
  font-size: calc(10rem / var(--base-font-size));
  line-height: 30px;
  text-align: center;
  color: var(--secondary-main-text-color);
  background-color: var(--inner-color);
  overflow: hidden;
  z-index: 1;
}

.disable {
  height: 0;
}
