.content {
  height: 100%;
}

.text {
  position: absolute;
  text-align: center;
  font-size: 1rem;
  color: var(--main-text-color);
  width: 100%;
}

.img {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  width: 100%;
}
