.content {
  padding: var(--base-padding);
}

.describe {
  font-size: calc(11rem / var(--base-font-size));
  color: var(--inner-text-color);
  font-weight: 500;
  text-indent: calc(11rem / var(--base-font-size) * 2);
}

.pay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    display: block;
    width: 108px;
    height: auto;
    object-fit: cover;
    transform: translateZ(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.alipay {
  fill: var(--alipay-color);
}

.wechat {
  fill: var(--wechat-color);
}
