.content {
  display: block;
  padding: 0 0 var(--base-padding);
}
.container {
  padding: 0 var(--base-padding);
}

.logoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 10px 0 !important;
}
.appName {
  margin-top: 10px;
  text-align: center;
  font-size: var(--base-font-size);
  color: var(--inner-text-color);
  font-weight: 500;
}
.logo {
  border-radius: 50%;
  overflow: hidden;
  padding: var(--base-padding);
  height: 48px;
  width: 48px;
  box-sizing: border-box;
  transition: all 5s;

  svg {
    height: 100%;
    width: 100%;
  }
}
.setting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 0;

  & > section {
    width: 100%;
    display: flex;
    font-size: var(--base-font-size);
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 5px 28px;

    label {
      // height: 20px;
      line-height: 20px;
      margin: 0;
    }
  }

  .fill {
    width: 100%;
  }

  .radio {
    font-size: var(--base-font-size);
    display: flex;
    width: 100%;
    align-items: center;
    line-height: 20px;
    padding: 5px 28px;

    span {
      top: 0;
    }
  }

  textArea,
  input {
    width: 50%;
    outline: none;
    border: 1px solid var(--border-color);
    color: var(--main-text-color);
    // height: 20px;
  }
}
.guide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
