.content {
  padding: var(--base-padding);
  position: relative;
}

.row {
  padding: var(--base-padding);
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;

  &:hover {
    background-color: var(--hover-color);
  }

  svg {
    fill: var(--svg-icon-color);

    &:hover {
      cursor: pointer;
    }
  }
}

.dragItem {
  background-color: var(--inner-color) !important;
}
