.content {
  display: block;
  h3 {
    color: var(--main-text-color);
  }
  p {
    font-size: 1rem;
    word-break: break-all;
    color: var(--inner-text-color);
  }
}
.card {
  padding: var(--base-padding);
}
.name {
  display: flex;
  align-items: center;
}
.tag {
  border-radius: 3px;
  font-size: 8px;
  padding: 0 4px;
  text-align: center;
  word-break: keep-all;
  margin-left: 10px;
  white-space: nowrap;
}
.tag {
  border: 1px solid;
}
