/*  tab去除线条 */
.ant-tabs-nav::before {
  border: none !important;
}
/*  抽屉背景 */
.ant-drawer-content {
  background-color: initial;
}
/*  抽屉无滚动条 */
.ant-drawer-body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* 走马灯dots */
.ant-carousel .slick-dots li {
  background: var(--cancel-color);
}
.ant-carousel .slick-dots li.slick-active button {
  background: var(--primary-color);
}
/* 进度条 */
.ant-progress {
  /* width: 100%; */
  line-height: 2px;
  display: flex;
  align-items: center;
  margin: 0;
}
.ant-progress-circle {
  margin: 0;
}
/* spin */
.ant-spin-text {
  text-shadow: none !important;
}
/*  slider */
.ant-slider {
  margin: 0;
}
/* tabs去除hover导航栏 */
.ant-tabs-nav-operations {
  display: none !important;
}
.ant-tabs-nav {
  /* padding-right: 8px; */
}
