button {
  padding: 5px 12px;
  font-size: calc(10rem / var(--base-font-size));
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  opacity: 1;
}
button:hover {
  filter: brightness(105%);
}
