.block-up {
  background-color: var(--increase-color);
  box-shadow: 0 2px 5px var(--increase-color);
  transition: background 0.2s;
}

.block-down {
  background-color: var(--reduce-color);
  box-shadow: 0 2px 5px var(--reduce-color);
  transition: background 0.2s;
}

.block-none {
  background-color: var(--reverse-text-color);
  box-shadow: 0 2px 5px var(--reverse-text-color);
  transition: background 0.2s;
}

.text-up {
  color: var(--increase-color);
}

.text-down {
  color: var(--reduce-color);
}

.text-none {
  color: var(--reverse-text-color);
}

.svg-up {
  fill: var(--increase-color);
}

.svg-down {
  fill: var(--reduce-color);
}
.svg-none {
  fill: var(--reverse-text-color);
}

.boder-up {
  border-color: var(--increase-color);
}
.boder-down {
  border-color: var(--reduce-color);
}
.boder-none {
  border-color: var(--reverse-text-color);
}

.bg-up {
  background-color: var(--increase-bg-color);
}
.bg-down {
  background-color: var(--reduce-bg-color);
}
.bg-none {
  background-color: var(--background-color);
}
