.noScroll {
  &::-webkit-scrollbar {
    width: 0;
  }
}
.flex {
  display: flex;
}
.f-j-c-c {
  justify-content: center;
}
.f-a-i-c {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.card-body {
  padding: var(--base-padding);
  padding-bottom: 15px;
}
.hoverable {
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
  &:hover {
    box-shadow: 0 2px 10px var(--hover-color);
    background-color: var(--hover-color);
  }
}
.selected {
  transition: background 0.3s, box-shadow 0.3s, border 0.3s;
  box-shadow: 0 2px 10px var(--selected-color) !important;
  background-color: var(--selected-color) !important;
}
