@import '~swiper/scss';
@import '~swiper/scss/pagination';

// @import '~swiper/components/effect-coverflow/effect-coverflow.less';
// @import '~swiper/components/effect-fade/effect-fade.less';

// @import '~swiper/components/effect-cube/effect-cube.less';
// @import '~swiper/components/effect-flip/effect-flip.less';

.swiper-pagination {
  bottom: -3px !important;
}
.swiper-pagination-bullet-active {
}

.swiper-pagination-bullet {
  background: var(--primary-color);
}
