.content {
  display: flex;
  width: 100%;
  align-items: center;
}
.info {
  flex: 1;
  margin-left: var(--base-padding);
  h3 {
    color: var(--main-text-color);
  }
  p {
    font-size: var(--base-font-size);
    word-break: break-all;
    color: var(--inner-text-color);
  }
}
