.content {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  top: 0;
  z-index: 2;
  transition: height 0.2s;
  position: absolute;
  width: 100%;
  background-color: var(--blur-color);
  backdrop-filter: saturate(180%) blur(20px);
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  z-index: 3;

  .walletIcon {
    cursor: pointer;
    height: calc(var(--base-font-size) * 10 / 3);
    width: calc(var(--base-font-size) * 10 / 3);
    transition: height 0.2s, width 0.2s;
    background-color: transparent !important;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      // height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  .info {
    flex: 1;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .timeBar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .last {
        font-size: var(--base-font-size);
        font-weight: 500;
        color: var(--secondary-main-text-color);
      }
    }

    .moneyBar {
      font-size: calc(var(--base-font-size) * 5 / 6);
      color: var(--main-text-color);
      display: flex;
      // justify-content: space-around;
      width: 100%;
      align-items: center;
      transition: all 0.2s;

      i {
        margin: 0 10px;
      }

      div {
        display: flex;
        align-items: center;
        word-wrap: break-word;
        flex-wrap: wrap;

        span {
          white-space: nowrap;
        }
      }

      svg {
        height: calc(var(--base-font-size) * 1.2);
        width: calc(var(--base-font-size) * 1.2);
        fill: var(--svg-icon-color);
      }
    }
  }

  .eye {
    height: calc(var(--base-font-size) * 5 / 3);
    width: calc(var(--base-font-size) * 5 / 3);
  }
}

.miniMode {
  .walletIcon {
    height: calc(var(--base-font-size) * 5 / 3);
    width: calc(var(--base-font-size) * 5 / 3);
  }

  .info {
    .timeBar {
      height: 0;
      overflow: hidden;

      .last {
        height: 0;
        overflow: hidden;
      }
    }

    .moneyBar {
      font-size: var(--base-font-size);
      font-weight: 600;

      i {
      }
    }
  }
}
.menuIcon {
  display: block;
  // height: 20px;
  width: 20px;
}
