@import '~antd/dist/antd.dark.css';
@import '~antd/dist/antd.compact.css';



.ant-radio-wrapper {
  color: var(--main-text-color);
}

.ant-dropdown-menu {
  background-color: var(--background-color);

}

.ant-dropdown-menu-item {
  color: var(--main-text-color);
  font-size: 12px;

  &:hover {
    background-color: var(--inner-color);
  }
}

.ant-checkbox-wrapper {
  color: var(--main-text-color);
}
