.bg-up {
  background-color: var(--increase-color);
}

.bg-down {
  background-color: var(--reduce-color);
}

.text-up {
  color: var(--increase-color);
}

.text-down {
  color: var(--reduce-color);
}

.svg-up {
  fill: var(--increase-color);
}

.svg-down {
  fill: var(--reduce-color);
}
