.up-bg {
  background-color: var(--increase-color);
}

.down-bg {
  background-color: var(--reduce-color);
}

.up-text {
  color: var(--increase-color);
}

.down-text {
  color: var(--reduce-color);
}
