.noScroll {
  &::-webkit-scrollbar {
    width: 0;
  }
}
.flex {
  display: flex;
}
.f-j-c-c {
  justify-content: center;
}
.f-a-i-c {
  justify-content: center;
}
.text-center {
  text-align: center;
}
