@media (prefers-color-scheme: light) {
  body {
    --background-color: #fff;
    --inner-color: #efefef;
    --inner-text-color: #888;
    --primary-color: #69c0ff;
    --cancel-color: #dfdfdf;
    --increase-color: #ff4d4f;
    --reduce-color: #73d13d;
    --main-text-color: #333;
    --secondary-main-text-color: #888;
    --reverse-text-color: #454545;
    --border-color: #eee;
    --alipay-color: #156dff;
    --wechat-color: #1fa131;
    --svg-icon-color: #333;
    --blur-color: rgba(255, 255, 255, .7);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: #1e1e1e;
    --inner-color: #333;
    --inner-text-color: #888;
    --primary-color: #164c7e;
    --cancel-color: #313131;
    --increase-color: #a61d24;
    --reduce-color: #3c8618;
    --main-text-color: #eee;
    --secondary-main-text-color: #888;
    --reverse-text-color: #ccc;
    --border-color: #111;
    --alipay-color: #156dff;
    --wechat-color: #1fa131;
    --svg-icon-color: #ccc;
    --blur-color: rgba(33, 33, 33, .3);
  }
}
