.content {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  // box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
