@import '../../styles/varible.scss';

.layout {
  height: 60px
}

.content {
  padding: 10px;
  display: flex;
  border: 1px solid $border-color;
  top: 0;
  z-index: 2;
  transition: height .2s;
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 40px;

  svg {
    height: 40px;
    width: 40px;
    transition: height .2s, width .2s;
  }
}



.info {
  flex: 1;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  .last {
    font-size: 12px;
    font-weight: 500;
    color: #888;
  }

  .moneyBar {
    font-size: 10px;
    color: #000;
    display: flex;
    // justify-content: space-around;
    width: 100%;
    align-items: center;
    transition: all .2s;


    i {
      height: 10px;
      border-right: 1px solid $border-color;
      margin: 0 10px;
    }

    div {
      display: flex;
      align-items: center;
    }

    svg {
      height: 14px;
      width: 14px;
    }
  }
}

.minMode {
  height: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .1);

  svg {
    height: 20px;
    width: 20px;
  }

  .info {


    .last {
      height: 0;
      overflow: hidden;
    }

    .moneyBar {
      font-size: 12px;
      font-weight: 600;

      i {}
    }
  }

}
