@import '../../styles/varible.scss';

.layout {
  height: 60px
}

.content {
  padding: 10px;
  display: flex;
  border: 1px solid $border-color;
  top: 0;
  z-index: 2;
  transition: height .2s;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, .3);
  backdrop-filter: saturate(180%) blur(20px);
  height: 60px;
  box-sizing: border-box;
  align-items: center;
  transform: rotate(0deg);

  &>svg {
    height: 40px;
    width: 40px;
    transition: height .2s, width .2s;
  }
}



.info {
  flex: 1;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  .timeBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .last {
      font-size: 12px;
      font-weight: 500;
      color: #888;
    }
  }

  .moneyBar {
    font-size: 10px;
    color: #000;
    display: flex;
    // justify-content: space-around;
    width: 100%;
    align-items: center;
    transition: all .2s;


    i {
      height: 10px;
      border-right: 1px solid $border-color;
      margin: 0 10px;
    }

    div {
      display: flex;
      align-items: center;
      word-wrap: break-word;
    }

    svg {
      height: 14px;
      width: 14px;
    }
  }
}

.eye {
  height: 20px;
  width: 20px;
  cursor: pointer;

  &>svg {
    height: 20px;
    width: 20px;
  }
}

.minMode {
  height: 40px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .1);

  svg {
    height: 20px;
    width: 20px;
  }

  .info {

    .timeBar {
      height: 0;
      overflow: hidden;

      .last {
        height: 0;
        overflow: hidden;
      }
    }


    .moneyBar {
      font-size: 12px;
      font-weight: 600;

      i {}
    }
  }

}
