@import '../../styles//varible.scss';

.row {
  /* display: flex; */
  width: 100%;
  transition: all 0.2s;
  padding: 8px 8px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--main-text-color);
  z-index: 2;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 2px;

    .arrow {
      svg {
        fill: #fff;
      }
    }
  }
}


.zindexName {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 2px;
}

.code {
  font-size: 10px;
  margin-right: 5px;
}

.rowBar {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.value {
  display: block;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90px;
  text-align: center;
}

.zsz {
  font-size: 20px;
  line-height: 24px;
}

.zd {
  display: flex;
  justify-content: space-around;
  width: 100%;

  .zde,
  .zdf {
    font-size: 10px;
  }
}


.up {
  color: var(--increase-color);
}

.down {
  color: var(--reduce-color);
}

.arrow {
  /* border: 1px solid #333; */
  margin-right: 5px;

  svg {
    cursor: pointer;
    fill: var(--svg-icon-color)
  }
}
