.content {
  display: block;
  z-index: 2;
}

.performanceSelections {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 5px 10px;
}

.performanceSelection {
  font-size: calc(10rem / var(--base-font-size));
  padding: 1px 6px;
  border-radius: 3px;
  cursor: pointer;
  color: var(--cancel-text-color);
  background-color: var(--cancel-color);
  transition: all 0.2s;
  position: relative;

  &:hover {
    opacity: 0.8;
  }
}
