/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 @import '~@fortawesome/fontawesome-free/css/all.css';
 */

@import './styles/collapse.scss';
@import './styles/re-drawer.scss';
@import './styles/button.scss';

body {
  position: relative;
  margin: 0;
  color: var(--reverse-text-color);
  background-color: var(--background-color);
  cursor: default;
  user-select: none;
}

body::-webkit-scrollbar {
  width: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  /* color: white;
  opacity: 0.75;
  text-decoration: none; */
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
