.content {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 80px;
  min-height: calc(100vh - 110px);
}

.row {
  padding: var(--base-padding);
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .menu {
    justify-self: flex-end;
    fill: var(--svg-icon-color);

    &:hover {
      cursor: pointer;
    }
  }

  .remove {
    fill: red;
    &:hover {
      cursor: pointer;
    }
  }
}

.inner {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  flex-direction: column;
  margin: 0 10px;
}

.name {
  font-size: calc(var(--base-font-size) * 1.2);
  font-weight: 600;
}

.code {
  font-size: var(--base-font-size);
}

.dragItem {
  background-color: var(--inner-color) !important;
}

.search {
  margin-bottom: var(--base-padding);
}
