.content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.wallet {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: var(--base-radius);

  svg {
    transition: transform 0.3s;
  }

  &:hover {
    svg {
      transform: scale(1.2);
    }
  }
}

.selected {
  svg {
    transform: scale(1.2);
  }
}
