.row {
  /* display: flex; */
  width: 100%;
  transition: all 0.2s;
  padding: 8px 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  z-index: 2;
  cursor: pointer;
}

.row:hover {
  background-color: #40a9ff;
  color: #fff;
  border-radius: 2px;
}

.fundName {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 2px;
}

.code {
  font-size: 10px;
  margin-right: 5px;
}

.rowBar {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.value {
  font-size: 12px;
  display: inline-block;
  float: right;
  color: #eee;
  padding: 2px 10px;
  border-radius: 2px;
}

.up {
  background-color: #f5222d;
}

.down {
  background-color: #52c41a;
}






.remove {
  overflow: hidden;
  transition: width 0.2s;
  display: inline-block;
  text-align: right;
  height: 16px;

  svg {
    cursor: pointer;
  }
}

.arrow {
  /* border: 1px solid #333; */
  margin-right: 5px;

  svg {
    cursor: pointer;
  }
}

.collapseContent {
  display: flex;
  padding: 5px 15px;
  flex-wrap: wrap;
  font-size: 10px;
  color: #888;
  background-color: #efefef;
  word-wrap: break-word;
}

.collapseContent>section {
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}
