@import '../../styles//varible.scss';

.row {
  /* display: flex; */
  width: 100%;
  transition: all 0.2s;
  padding: 8px 8px;
  box-sizing: border-box;
  border-bottom: 1px solid $border-color;
  z-index: 2;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    color: #fff;
    border-radius: 2px;
  }
}


.fundName {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 2px;
}

.code {
  font-size: 10px;
  margin-right: 5px;
}

.rowBar {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.value {
  font-size: 12px;
  display: inline-block;
  float: right;
  color: #eee;
  padding: 2px 10px;
  border-radius: 2px;
}

.up {
  background-color: $increase-color;
}

.down {
  background-color: $reduce-color;
}






.remove {
  overflow: hidden;
  transition: width 0.2s;
  display: inline-block;
  text-align: right;
  height: 16px;

  svg {
    cursor: pointer;
  }
}

.arrow {
  /* border: 1px solid #333; */
  margin-right: 5px;

  svg {
    cursor: pointer;
  }
}

.collapseContent {
  display: flex;
  padding: 5px 15px;
  flex-wrap: wrap;
  font-size: 10px;
  color: #888;
  background-color: $cancel-color;
  word-wrap: break-word;

  section {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.editor {
  margin-left: 5px;
  cursor: pointer;
  height: 12px;
  width: 12px;
}
