@import '../../styles//varible.scss';


.content {
  height: 30px;
  transition: height .2s;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  color: var(--secondary-main-text-color);
  background-color: var(--cancel-color);
  overflow: hidden;
}

.disable {
  height: 0;
}

.jump {
  animation: jump 1s infinite;
  display: inline-block;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}
