.row {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.icon {
  transition: all 0.2s;
  height: calc(var(--base-font-size) * 10 / 3);
  width: calc(var(--base-font-size) * 10 / 3);
  display: block;
  z-index: 2;
  margin-right: 10px;

  &:hover {
    transform: scale(1.1);
  }
}

.rowInfo {
  flex: 1;
  z-index: 2;
  color: var(--main-text-color);
}
.editor {
  height: 12px;
  width: 12px;
  cursor: pointer;
}
.remove {
  z-index: 2;
  fill: red;
  &:hover {
    cursor: pointer;
  }
}
.checkbox {
  fill: var(--primary-color);
  z-index: 2;
}

.readonly {
  cursor: default;
  border: none;

  &:hover {
    transform: none;
  }
}
.extra {
  height: 12px;
  width: 12px;
  fill: var(--svg-icon-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.time {
  font-size: calc(var(--base-font-size) * 5 / 6);
  color: var(--secondary-main-text-color);
}
.infoRow {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  font-size: calc(var(--base-font-size) * 5 / 6);
}
