.layout {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--inner-color);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}

.empty {
  position: absolute;
  text-align: center;
  font-size: 12px;
  width: 100%;
  top: 50%;
  color: var(--main-text-color);
}
