.content {
  display: flex;
  flex-wrap: wrap;
}
.item {
  text-align: center;
  border-radius: 7px;
  border: 1px solid var(--block-border-color);
  padding: 3px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-right: 10px;
  margin-bottom: var(--base-padding);
  color: var(--tag-text-color);
  span {
    word-break: keep-all;
    margin-right: 5px;
  }
  &:last-child {
    margin-right: 0;
  }
  svg {
    fill: var(--tag-text-color);
    height: 14px;
    width: 14px;
  }
}
