.selections {
  margin: 20px 0px 10px;
}

.selection {
  font-size: calc(10rem / var(--base-font-size));
  padding: 1px 6px;
  border-radius: 3px;
  cursor: pointer;
  color: var(--cancel-text-color);
  background-color: var(--cancel-color);
  transition: all 0.2s;
  position: relative;
  text-align: center;
  display: inline-block;

  &:hover {
    filter: brightness(105%);
  }
}

.active {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  box-shadow: 0 2px 10px var(--primary-color);
}
