.content {
  display: block;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  border-radius: 10px;
  margin: var(--base-padding) var(--base-padding) 0 0;
  display: inline-block;
  padding: 3px 5px;
  font-size: calc(var(--base-font-size) * 5 / 6);
  color: #fff;
  word-break: keep-all;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    filter: brightness(115%);
  }
}
