.content {
  position: relative;
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
  padding: var(--base-padding);
  padding-bottom: 80px;
}
.row {
  // height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px dashed var(--background-color);

  &:hover {
    .icon {
      transform: scale(1.1);
    }
  }
}
.rowBg {
  position: absolute;
  filter: blur(40px);
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.cover {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--blur-color);
}
.icon {
  transition: all 0.2s;
  height: calc(40rem / var(--base-font-size));
  width: calc(40rem / var(--base-font-size));
  display: block;
  z-index: 2;
  margin-right: 10px;
}

.rowInfo {
  flex: 1;
  z-index: 2;
  color: var(--main-text-color);
  .time {
    font-size: calc(10rem / var(--base-font-size));
    font-weight: 400;
  }
  .name {
    font-weight: 600;
    font-size: calc(14rem / var(--base-font-size));
  }
  .editor {
    margin-left: 10px;
    cursor: pointer;
    height: 12px;
    width: 12px;
    fill: var(--svg-icon-color);
  }
}
.remove {
  z-index: 2;
  &:hover {
    cursor: pointer;
  }
}
.checkbox {
  fill: var(--primary-color);
  z-index: 2;
  // background-color: var(--primary-color);
}

.add {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
  box-shadow: 0 2px 10px var(--primary-color);
  z-index: 2;

  &:hover {
    filter: brightness(105%);
  }

  svg {
    fill: var(--primary-text-color);
    height: 34px;
    width: 24px;
  }
}
