.content {
  display: block;
}

.none {
  font-size: 1rem;
  color: #d65746;
}
.tab {
  border-radius: 10px;
  background-color: var(--background-color);
}

.stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-padding);
  cursor: pointer;
}

.added {
  color: var(--cancel-text-color);
  background-color: var(--cancel-color);
  box-shadow: 0 2px 10px var(--cancel-color);
  cursor: not-allowed;
  white-space: nowrap;
}

.select {
  color: #eee;
  background-color: var(--primary-color);
  box-shadow: 0 2px 10px var(--primary-color);
  white-space: nowrap;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  padding-right: 10px;

  .nameText {
    margin-right: 10px;
  }
}

.tag {
  padding: 2px 3px;
  border-radius: 3px;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  font-size: calc(10rem / var(--base-font-size));

  white-space: nowrap;
}

.code {
  font-size: calc(10rem / var(--base-font-size));
}
