.row {
  /* display: flex; */
  width: 100%;
  padding: 8px 8px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--main-text-color);
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:hover {
    border-bottom: 1px solid var(--hover-color);

    .arrow {
      svg {
        fill: var(--main-text-color);
      }
    }
  }
}

.zindexName {
  font-weight: 600;
  font-size: calc(14rem / var(--base-font-size));
  margin-bottom: 2px;
}

.code {
  font-size: calc(10rem / var(--base-font-size));
  margin-right: 5px;
}

.rowBar {
  font-size: calc(10rem / var(--base-font-size));
  display: flex;
  align-items: center;
}

.value {
  display: block;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  text-align: center;
}

.zsz {
  font-size: calc(20rem / var(--base-font-size));
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  svg {
  }
}

.zd {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .zdd,
  .zdf {
    font-size: calc(10rem / var(--base-font-size));
  }

  .zdf {
    margin-left: 10px;
  }
}

.arrow {
  /* border: 1px solid #333; */
  margin-right: 5px;

  svg {
    cursor: pointer;
    fill: var(--svg-icon-color);
  }
}

.collapseContent {
  display: flex;
  padding: 5px 15px;
  flex-wrap: wrap;
  font-size: calc(10rem / var(--base-font-size));
  color: var(--inner-text-color);
  background-color: var(--inner-color);
  word-wrap: break-word;

  section {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.view {
  padding: 5px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
