.content {
  margin-bottom: var(--base-padding);
  position: relative;
  box-sizing: border-box;
}

.pay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px 0;

  img {
    display: block;
    width: 108px;
    height: auto;
    object-fit: cover;
  }
}

.alipay {
  fill: var(--alipay-color);
}

.wechat {
  fill: var(--wechat-color);
}
