.content {
  margin: 0 var(--base-padding) 5px;
  position: relative;
  width: 100vw;
  left: -20px;
  box-sizing: border-box;
}

.pay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    display: block;
    width: 108px;
    height: auto;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
  }
}

.alipay {
  fill: var(--alipay-color);
}

.wechat {
  fill: var(--wechat-color);
}
