.content {
  padding: 10px 15px;

  section {
    padding: 5px 0;
  }

  label {
    font-size: 1rem;
    width: 100px;
    margin-bottom: 5px;
    display: block;
    font-weight: 600;
  }

  span {
    font-size: calc(11rem / var(--base-font-size));
  }
}
