.content {
  padding: 10px 15px;

  section {
    padding: 5px 0;
  }

  label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
    font-weight: 600;
  }
}

.none {
  font-size: 1rem;
  color: #d65746;
}

.stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-padding) 15px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: var(--hover-color);
  }
}

.added {
  color: var(--cancel-text-color);
  background-color: var(--cancel-color);
  box-shadow: 0 2px 10px var(--cancel-color);
  cursor: not-allowed;
  white-space: nowrap;
}

.select {
  color: #eee;
  background-color: var(--primary-color);
  box-shadow: 0 2px 10px var(--primary-color);
  white-space: nowrap;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  padding-right: 10px;

  .nameText {
    margin-right: 10px;
  }
}

.tag {
  padding: 2px 3px;
  border-radius: 3px;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  font-size: calc(10rem / var(--base-font-size));

  white-space: nowrap;
}

.code {
  font-size: calc(10rem / var(--base-font-size));
}
