.content {

  padding: 10px 0;

  h3 {
    color: var(--main-text-color);
    font-size: 16px;
  }

  section {
    padding: 5px 0;
  }

  label {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    font-weight: 600;
  }

}

.container {
  padding: 5px 15px;

}

.introduce {}


.detail {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.detailItem {
  // flex: 1;
  display: flex;
  flex-direction: column;

}

.detailItemLabel {
  color: var(--inner-text-color);
}

.syl_1n {
  font-size: 20px;
  font-size: 600;
}

.manager {
  float: right;
  // margin-left: 20px;
  font-size: 11px;
}



.warehouse {}
