/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 @import '~@fortawesome/fontawesome-free/css/all.css';
 */

@import '~@/styles/antd.scss';
@import '~@/styles/button.scss';
@import '~@/styles/color.scss';
@import '~@/styles/varible.scss';
@import '~@/styles/common.scss';

body {
  position: relative;
  margin: 0;
  color: var(--main-text-color);
  cursor: default;
  user-select: none;
  width: 100% !important;
}

body::-webkit-scrollbar {
  width: 0;
}

a {
  color: var(--primary-color);
}

h3 {
  font-size: calc(var(--base-font-size) * 1.2);
  margin: 0;
  line-height: 24px;
}

.clickable {
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    filter: brightness(105%);
  }
}

.red {
  color: red;
}

:focus-visible {
  outline: none;
}

.max-content {
  max-width: 400px;
  margin: 0 auto;
}
