.bar {
  background-color: var(--inner-color);
  height: 40px;
  width: 100%;
  z-index: 2;
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid var(--border-color);

  svg {
    cursor: pointer;
    fill: var(--svg-icon-color)
  }
}