.content {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 80px;
  min-height: calc(100vh - 110px);
}

.row {
  padding: var(--base-padding);
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .function {
    justify-self: flex-end;
    fill: var(--svg-icon-color);
    height: 12px;
    width: 12px;
    margin-left: var(--base-padding);

    &:hover {
      cursor: pointer;
    }
  }

  .remove {
    fill: red;
    &:hover {
      cursor: pointer;
    }
  }
}

.name {
  flex: 1;
  flex-direction: column;
  margin-left: var(--base-padding);
  font-size: calc(var(--base-font-size) * 1.2);
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  max-width: 100%;
}

.dragItem {
  background-color: var(--inner-color) !important;
}

.editor {
  margin-left: var(--base-padding);
  cursor: pointer;
  height: 12px;
  width: 12px;
  fill: var(--svg-icon-color);
}

.cbj,
.cyfe {
  display: flex;
  align-items: center;
  font-size: calc(var(--base-font-size) * 11 / 12);
}

.wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--base-padding) * 2);
  padding-bottom: var(--base-padding);
  img {
    width: 40px;
    height: 40px;
    margin-bottom: var(--base-padding);
  }
}
.walletName {
  font-size: var(--base-font-size);
  font-weight: 600;
  position: relative;
}
.editWallet {
  position: absolute;
  right: -20px;
  fill: var(--svg-icon-color);
  cursor: pointer;
  height: 12px;
  width: 12px;
  top: 50%;
  transform: translateY(-50%);
}
